@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Bree Serif', serif;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

.bookcase {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  border-radius: 5px;
  width: 95%;
}

.book {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 6px;
  border-radius: 5px;
  color: white;
  background-color: #4c9fce;
  border-left: 4px solid #39779b;
  box-shadow: 10px 6px 4px rgb(235, 235, 235);
}

.book#buttonAddBooks {
  box-shadow: none;
  background-color: #39779b;
  border: 2px solid #2f6381;
}

.book#buttonAddBooks svg {
  width: 20%;
}

.book#buttonAddBooks:hover {
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

form button {
  padding: 8px 16px;
  align-self: center;
}

.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}