body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookcase {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat (2, 1fr);
  background-color: lightgray;
  border: 2px solid grey;
  border-radius: 5px;
}

.book {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

form button {
  padding: 8px 16px;
  align-self: center;
}

.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}